/*
TODO: melhorar a seção educação
*/

:root {
    --cor-texto-curriculo-esquerda: #2F2F2F;
    --cor-texto-curriculo-direita: #202020;
    --cor-fundo-curriculo-esquerda: #FFFFFF;
    --cor-fundo-curriculo-direita: #008080;
    --cor-texto-curriculo-links: #003399; 
    --cor-texto-curriculo-links-hover: #DAA520;
}

.curriculo {
    padding: 10vh 30vh;
    display: flex;
    box-sizing: border-box;
}

.curriculo__secao-esquerda {
    color: var(--cor-texto-curriculo-esquerda);
    width: 70%;
    border-width: 4px 0 4px 4px;
    background-color: var(--cor-fundo-curriculo-esquerda);
}

.curriculo__apresentacao {
    display: flex;
    align-items: center;
    gap: 3.5vh;
    padding-bottom: 2vh;
}

.curriculo__apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 75%;
}

.apresentacao__titulo {
    color: #000000;
    font-family: var(--font-titulo);
    font-size: 1.8rem;
}

.apresentacao__subtitulo {
    font-family: var(--font-titulo);
    font-size: 1.4rem;
}

.apresentacao__texto {
    font-family: var(--font-texto);
    font-size: 1.2rem;
}

.apresentacao__imagem {
    width: 25%;
    border-radius: 160px;
}

.separa-secao {
    margin: 1vh 0;
    border-width: 0;
    height: 1px;
    background-color: #00000048;
}

.curriculo__experiencia__texto {
    width: 70%;
}

.curriculo__educacao__ensino-um {
    display: flex;
    justify-content: space-between;
}

.educacao__ensino-um__bloco-esquerdo, 
.educacao__ensino-um__bloco-direito {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 50%;
}

.ensino-um__bloco-esquerdo__destaque {
    color: #000000;
    font-weight: 600;
}

.educacao__ensino-um__bloco-direito {
    box-sizing: border-box;
    padding-left: 20px;
    border-left: 2px solid var(--cor-borda);
}

.extracurriculares__conteudo {
    display: flex;
    flex-direction: column;
    gap: 0.7vh;
}

.extracurriculares__conteudo__links {
    text-decoration: none;
    color: var(--cor-texto-curriculo-links);
}

.extracurriculares__conteudo__links:hover {
    color: var(--cor-texto-curriculo-links-hover);
    font-weight: 600;
}

.curriculo__secao-direita {
    color: var(--cor-texto-curriculo-direita);
    background-color: var(--cor-fundo-curriculo-direita);
    width: 30%;
    border-width: 4px 4px 4px 0;
}

.curriculo__sobre {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5vh;
}

.curriculo__sobre__topico {
    display: flex;
    flex-direction: column;
    gap: 1.3vh;
}

.sobre__topico__links {
    text-decoration: none;
    color: var(--cor-texto-curriculo-links);
}

.sobre__topico__links:hover {
    color: var(--cor-texto-curriculo-links-hover);
    font-weight: 600;
}

.curriculo__habilidades__lista {
    display: flex;
    flex-direction: column;
    gap: 1.8vh;
    list-style-position: inside;
}

.habilidades__lista__topico {
    position: relative;
    left: -0.7vh;
}

.curriculo__idiomas__topico {
    display: flex;
    flex-direction: column;
    gap: 0.7vh;
}

.curriculo__idiomas__topico > :first-child {
    color: #101010;
    font-weight: 600;
}

.curriculo__secao-esquerda, 
.curriculo__secao-direita {
    padding: 3% 2%;
    border-style: solid;
    border-color: var(--cor-borda);
}

.apresentacao__texto, 
.curriculo__experiencia__texto, 
.curriculo__educacao__ensino-um {
    padding-left: 1vh;
}

.curriculo__experiencia, 
.curriculo__educacao, 
.curriculo__extracurriculares, 
.curriculo__hobbies, 
.curriculo__sobre, 
.curriculo__habilidades, 
.curriculo__idiomas {
    gap: 2.5vh;
}

.curriculo__experiencia, 
.curriculo__educacao, 
.curriculo__extracurriculares, 
.curriculo__hobbies, 
.curriculo__habilidades, 
.curriculo__idiomas {
    display: flex;
    flex-direction: column;
    padding: 2vh 0;
}

.curriculo__experiencia__titulo, 
.curriculo__educacao__titulo, 
.curriculo__extracurriculares__titulo, 
.curriculo__hobbies__titulo, 
.curriculo__sobre__titulo, 
.curriculo__habilidades__titulo, 
.curriculo__idiomas__titulo {
    font-family: var(--font-titulo);
    font-size: 1.4rem;
}

.curriculo__experiencia__texto, 
.curriculo__educacao, 
.curriculo__educacao__ensino-um, 
.extracurriculares__conteudo, 
.curriculo__hobbies__texto, 
.curriculo__sobre__topico, 
.curriculo__habilidades__lista, 
.curriculo__idiomas__topico {
    font-family: var(--font-texto);
    font-size: 1.2rem;
}

.extracurriculares__conteudo, 
.curriculo__hobbies__texto {
    padding-left: 4vh;
}