.apresentacao {
    padding: 10vh 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor-texto-principal);
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.apresentacao__conteudo__titulo {
    font-family: var(--font-titulo);
    font-size: 2.25rem;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--font-texto);
}

.titulo-destaque, .texto-destaque:hover {
    color: var(--cor-texto-destaque);
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5vh;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-titulo);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link {
    width: 378px;
    padding: 21.5px 0;
    display: flex;
    justify-content: center;
    gap: 1.6vh;
    align-items: center;
    border: 2px solid var(--cor-borda);
    border-radius: 8px;
    color: var(--cor-texto-secundario);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--font-texto);
    font-weight: 600;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-fundo-secundaria);
}

.apresentacao__imagem-perfil {
    border-radius: 24px;
    box-shadow: 10px -10px 14px #9E511290;
}