.apresentacao {
    padding: 8vh 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor-texto-principal);
    gap: 4vh;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.apresentacao__conteudo__titulo {
    font-family: var(--font-titulo);
    font-size: 2.25rem;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--font-texto);
}

.apresentacao__conteudo__titulo-destaque, .apresentacao__conteudo__texto-destaque:hover {
    color: var(--cor-texto-destaque);
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5vh;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-titulo);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    width: 55%;
    padding: 21.5px;
    display: flex;
    justify-content: center;
    gap: 1.6vh;
    align-items: center;
    border: 2px solid var(--cor-borda);
    border-radius: 8px;
    color: var(--cor-texto-secundario);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--font-texto);
    font-weight: 600;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-fundo-secundaria);
}

.apresentacao__imagem {
    width: 50%;
    border-radius: 24px;
    box-shadow: 10px -10px 14px #9E511290;
}

@media (min-width: 2000px) {
    .apresentacao {
        padding: 10vh 30vh;
        gap: 5vh;
    }

    .apresentacao__conteudo__titulo {
        font-size: 3.75rem;
    }
    
    .apresentacao__conteudo__texto,
    .apresentacao__links__subtitulo {
        font-size: 3rem;
    }

    .apresentacao__links__navegacao {
        padding: 40px;
        font-size: 3rem;
    }
}

@media (max-width: 1200px) {
    .apresentacao {
        flex-direction: column-reverse;
        padding: 10vh;
        gap: 8vh;
    }

    .apresentacao__conteudo {
        width: 80%;
        text-align: center;
        gap: 6vh;
    }

    .apresentacao__conteudo__links {
        gap: 4vh;
    }

    .apresentacao__imagem {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .apresentacao {
        padding: 5vh;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.5rem;
    }
    
    .apresentacao__conteudo__texto,
    .apresentacao__links__subtitulo {
        font-size: 1rem;
    }

    .apresentacao__links__navegacao {
        padding: 15px;
        font-size: 1rem;
    }
}